<!DOCTYPE html>
<html lang="en">
{{template "header"}}

<body>
<div class="container-fluid">
    <table class="table">
        <thead>
        <tr>
            <th>Analysis Log</th>
            <th>Processed Log</th>
        </tr>
        </thead>
        <tbody>
        {{ range $key, $value := .Logs }}
            {{ range $meh, $log := $value }}
                <tr>
                    <td><a href="/httpVersions/{{ $key }}/{{ $log }}">{{ $log }}</a></td>
                    <td>{{ $key }}</td>
                </tr>
            {{ end }}
        {{ end }}
        </tbody>
    </table>


    <form method="POST" action="/httpVersions/">
        <div class="form-group">
            <label for="location">Pfad zu zgrab output</label>
            <input type="search" class="form-control" list="location" name="location"/>
            <datalist id="location">
                {{ range .Banners }}
                <option value="{{.}}">
                    {{ end }}
            </datalist>
        </div>
        <button type="submit" class="btn btn-primary">Analysieren!</button>
    </form>

    <br/>
    <form role="form" method="POST" action="/httpVersions/scan">
        <button type="submit" class="btn btn-primary">Neuen Scan starten!</button>
    </form>
</div>
</body>

</html>