<!DOCTYPE html>
<html lang="en">
{{template "header"}}

<head>
    <meta charset="UTF-8">
    <title>{{ .Title}}</title>

</head>
<body>
{{template "navbar"}}

<div class="container-fluid">

<div id="chartContainer" style="height: 500px; width: 100%;"></div>
    {{ range $key, $value := .Results }}
        <p>{{$key}}: {{$value }}</p>
    {{ end }}
    <a href="/httpVersions/">Zurück</a>
</div>

</body>
{{template "footer"}}
<script type="text/javascript" src="/static/js/canvasjs.min.js"></script>
<script type="text/javascript">
    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer",
                {
                    title:{
                        text: "{{ .Title}}"
                    },
                    animationEnabled: true,
                    legend:{
                        verticalAlign: "bottom",
                        horizontalAlign: "center"
                    },
                    data: [
                        {
                            indexLabelFontSize: 20,
                            indexLabelFontFamily: "Monospace",
                            indexLabelFontColor: "darkgrey",
                            indexLabelLineColor: "darkgrey",
                            indexLabelPlacement: "outside",
                            type: "pie",
                            showInLegend: false,
                            toolTipContent: "{y} - <strong>#percent%</strong>",
                            dataPoints: [
        {{ range $key, $value := .Results }}
            {{if ne $key "Total Processed"}}
                {  y: {{$value }}, legendText:"{{$key}}", indexLabel: "{{$key}}" },
            {{ end }}
        {{ end }}
        ]
    }
        ]
    });
        chart.render();
    }
</script>
</html>